@model List<Pizzeria.Models.Prodotti>

@{
    ViewBag.Title = "Elenco Pizze";
}

<style>
    .card-img-pizza {
        width: 100%;
        height: 200px;
        object-fit: cover; 
    }

    .card-container {
        height: 100%;
    }
</style>

<div class="container">
    @if (User.IsInRole("Admin"))
    {
        <div class="text-right mb-3">
            <a href="@Url.Action("AggiungiPizza", "Pizza")" class="btn btn-primary">Aggiungi Pizza</a>
        </div>
    }

    <div class="row">
        @foreach (var pizza in Model)
        {
            <div class="col-md-4 mt-4">
                <div class="card mb-4 box-shadow card-container">
                    <img class="card-img-top card-img-pizza" src="@pizza.Foto" alt="Immagine Pizza">
                    <div class="card-body">
                        <h5 class="card-title fw-bold">@pizza.Nome</h5>
                        <p class="card-text">@pizza.Ingredienti</p>
                        <p class="card-text fw-bold">Prezzo: €@pizza.Prezzo</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <form method="post" action="@Url.Action("AggiungiAlCarrello", "Carrello")">
                                    <input type="hidden" name="id" value="@pizza.Id" />
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Aggiungi al carrello</button>
                                </form>
                            </div>

                            @if (User.IsInRole("Admin"))
                            {
                                <div class="btn-group">
                                    <a href="@Url.Action("ModificaPizza", "Pizza", new { id = pizza.Id })" class="btn btn-sm btn-outline-primary">Modifica</a>
                                    <form method="post" action="@Url.Action("RimuoviPizza", "Pizza")">
                                        <input type="hidden" name="id" value="@pizza.Id" />
                                        <button type="submit" class="btn btn-sm btn-outline-danger">Rimuovi</button>
                                    </form>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
